* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: $base-font-family;
}

.message-form {
  height: $message-bar-height;
  width: 100%;
  input {
    padding: 10px;
    width: 80%;
    margin-right: 0.5%;
  }
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}

#message-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  height: 300px;
  li {
    padding: 5px 10px;
  }
  //hides scrollbar on the message container
  &::-webkit-scrollbar{
    display:none;
  }
}

#transcript-container {
  overflow: scroll;
  height: 300px;
  text-align: center;
  padding: 10px;
}

.title {
  text-align: center;
}
.main-text {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}

.name {
  font-weight: bold;
  color: $primary-blue;
  &.current-user {
    color: $primary-red;
  }
}

.content {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
