* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: $base-font-family;
}

.message-form {
  position: fixed;
  bottom: 0;
  height: $message-bar-height;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  width: 100%;
  input {
    border: 0;
    padding: 10px;
    width: 50%;
    margin-right: 0.5%;
  }
  button {
    background: $green;
    border: none;
    padding: 10px;
    margin-right: 0.5%;
  }
}

.modal-button {
  position: absolute;
  top: 0;
  right: 0;
  background: $green;
  z-index: $modal-level;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: calc(100vh - #{$message-bar-height});
  overflow: scroll;

  li {
    padding: 5px 10px;
  }
}

.name {
  font-weight: bold;
  color: $primary-blue;
  &.current-user {
    color: $primary-red;
  }
}
