$primary-red: red;
$primary-blue: blue;
$primary-color: tan;
$background-color: #ede1d1;
$secondary-color: white;
$text-color: black;
$gray: #ccc;
$base-font-family: "Garamond", Serif;

//z-indexes
$modal-level: 100;

//heights
$message-bar-height: 100px;

//spacing
$border-radius: 10px;
